security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:MySecretKeyForJWTTokenGeneration2024AtLeast32Characters}
    expiration: ${SECURITY_JWT_EXPIRATION:PT1H}

spring:
  config:
    import: optional:file:../.env
  jmx:
    enabled: false

  datasource:
    url: ${H2_DB_USER_PATH:jdbc:h2:mem:lego_factory_auth;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:create-drop}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true 
  sql:
    init:
      mode: never

  h2:
    console:
      enabled: ${SPRING_H2_CONSOLE_ENABLED:true}
      path: ${SPRING_H2_CONSOLE_PATH:/h2-console}

server:
  port: ${USER_SERVICE_PORT:8012}

logging:
  level:
    io.life: ${LOGGING_LEVEL_IO_LIFE:DEBUG}
    root: ${LOG_LEVEL_ROOT:INFO}
    org.springframework.boot.sql.init: DEBUG
    org.springframework.jdbc.datasource: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE:health,info,metrics}
  endpoint:
    health:
      show-details: ${MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS:always}
